body {
	background-image: url("toilet-paper-3047628_1280.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#check_user {
	height: 80%;
	padding-left: 0%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
h {
	/* margin: 60px 0px 0px 60px; */
	font-size: 400%;
	font-family: "Comic Sans MS", "Comic Sans", cursive;
	animation: mati 8s infinite;
}
@keyframes mati {
	from {
		color: aqua;
	}
	to {
		color: deepskyblue;
	}
	to {
		color: aquamarine;
	}
	to {
		color: mediumspringgreen;
	}
	to {
		color: red;
	}
	to {
		color: tomato;
	}
	to {
		color: violet;
	}
}
.inputLogin {
	width: 80%;
	display: flex;
	align-items: center;
	flex-direction: column;
}
#user_name {
	width: 95%;
	margin-top: 30px;
	font-size: 1.5em;
}
#password {
	width: 95%;
	font-size: 1.5em;
}
#enter {
	font-size: 200%;
	border-radius: 5px;
	color: white;
	animation: enter 8s infinite;
}
@keyframes enter {
	from {
		background-color: aqua;
	}
	to {
		background-color: deepskyblue;
	}
	to {
		background-color: aquamarine;
	}
	to {
		background-color: mediumspringgreen;
	}
	to {
		background-color: red;
	}
	to {
		background-color: tomato;
	}
	to {
		background-color: violet;
	}
}
p {
	/* padding-left: 22%; */
	color: red;
	font-weight: bold;
	font-size: 80%;
}
input[type="text"],
input[type="password"] {
	border: none;
	background-color: silver;
}
